

.index-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-auth {
  text-decoration: none;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  transition: transform 0.1s ease;
  cursor: pointer;
}

.btn-auth:active {
  transform: scale(0.95);
}

.btn-login {
  background: rgba(0, 123, 255, 0.5);
}

.btn-register {
  background: rgba(40, 167, 69, 0.5);
}